// .sticky {
// }
// .hentry {
// 	margin: 0 0 1.5em;
// }
// .byline,
// .updated {
// 	display: none;
// }
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

@include bp(medium) {
	.site-content {
		padding: 0 cp(10px, $context-medium);
	}
}

.content-area {
	padding: 0 cp(10px, $context-narrow);

	/** First Breakpoint */
	@include bp(medium) {
		padding: 0;

		@include griddr(8)
	}
}

.post {
	margin-bottom: 3em;

	@include bp(medium) {
		.entry-meta-featured-image {
			position: relative;
		}
	}

	.entry-meta {
		margin-bottom: 1em;

		/** First Breakpoint */
		@include bp(medium) {
			margin-bottom: 0;
		}
	}

	.posted-on {
		background-color: $gray-dark;
		border-radius: 999px;
		color: #fff;
		display: inline-block;
		font: {
			family: $font-serif;
			size: 12px;
			size: cr(12px);
			style: italic;
			weight: $font-bold;
		}
		line-height: 1;
		padding: 5px 15px;

		/** First Breakpoint */
		@include bp(medium) {
			background-color: transparentize(#000, 0.12);
			bottom: 0;
			line-height: 1.2;
			margin-left: cp(10px, $context-medium);
			padding: 20px 0 0;
			padding: cr(20px) 0 0;
			position: absolute;
			text-align: center;

			@include font-size(14px);
			@include rem(height, 76px);
			@include rem(margin-bottom, -38px);
			@include rem(width, 76px);
		}
	}

	&.sticky {
		.posted-on {
			background-color: $red;

			/** First Breakpoint */
			@include bp(medium) {
				background-color: transparentize($red, 0.12);
			}
		}
	}

	.entry-featured-image {
		margin-bottom: 1em;

		/** First Breakpoint */
		@include bp(medium) {
			@include rem(margin-bottom, 56px);
		}

		img {
			display: block;
			height: auto;
			width: 100%;
		}
	}

	.entry-title {
		font: italic ce(24px, $default-font-size) $font-serif;
	}

	/**
	 * Footer Meta Data
	 */
	footer.entry-meta {
		span {
			display: block;
			margin-bottom: 0.5em;

			@include rem(line-height, 20px);

			&:before {
				color: $red;
				font-family: Genericons;
				font-size: ce(20px, $default-font-size);
				margin-right: 0.5em;
				vertical-align: middle;
			}

			&.comments-link:before {
				content: '\f300';
			}

			&.edit-link:before {
				content: '\f411';
			}
		}
	}
}
