.widget {
	margin: 0 0 3em;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}


/** Widget Title */
.widget-title {
	border-style: solid;
	border-width: 1px 0;
	font-weight: $font-bold;
	margin-bottom: 1em;
	text-align: center;
	text-transform: uppercase;
}

/**
 * Sidebar
 */
.sidebar {
	background-color: $gray-light;
	border-top: 4px solid $gray-dark;
	padding: 1em cp(10px, $context-small);

	.widget-title {
		border-color: $gray-dark;
	}

	/** First Breakpoint */
	@include bp(medium) {
		background-color: transparent;
		border-top: none;
		padding: 0;

		@include griddr(4);
		@include griddr-last;
	}
}
