.widget {
	margin: 0 0 3em;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}


/** Widget Title */
.widget-title {
	border-style: solid;
	border-width: 1px 0;
	font-weight: $font-bold;
	margin-bottom: 1em;
	text-align: center;
	text-transform: uppercase;
}

/**
 * Sidebar
 */
.sidebar {
	background-color: $gray-light;
	border-top: 4px solid $gray-dark;
	padding: 1em cp(10px, 320px);

	.widget-title {
		border-color: $gray-dark;
	}
}
