header[role="banner"] {
	border-top: 4px solid $gray-dark;
	margin-bottom: 3em;

	> a {
		background: url("images/banners/copenhagen.jpg") no-repeat center top;
		background-size: cover;
		color: #fff;
		display: block;
		position: relative;
		text-decoration: none;
		width: 100%;

		@include rem(height, 160px);
		@include rem(padding-top, 10px);

		@include hidpi {
			background-image: url("images/banners/copenhagen@2x.jpg");
		}

		/** First Breakpoint */
		@include bp(medium) {
			@include rem(height, 210px);
			@include rem(padding-top, 21px);
		}

		/** Second Breakpoint */
		@include bp(wide) {
			@include rem(height, 250px);
			@include rem(padding-top, 19px);
		}
	}


	/**
	 * Logo
	 */
	.site-logo {
		@extend %ir;

		background: url("images/logo.png") no-repeat 0 0;
		height: 75px;
		margin: 0 auto;
		width: 75px;

		@include hidpi {
			background-image: url("images/logo@2x.png");
			background-size: 75px auto;
		}

		/** First Breakpoint */
		@include bp(medium) {
			float: left;
			margin-left: cp(37px, $context-medium);
		}

		/** Second Breakpoint */
		@include bp(wide) {
			margin-left: cp(10px, $context-wide);
		}
	}


	/**
	 * Site Branding
	 */
	.site-branding {
		background-color: rgba(0, 0, 0, 0.5);
		bottom: 0;
		left: 0;
		padding: 5px cp(10px, $context-narrow);
		padding: cr(5px) cp(10px, $context-narrow);
		position: absolute;
		width: 100%;

		@include font-size(12px);
		@include rem(height, 56px);

		/** First Breakpoint */
		@include bp(medium) {
			padding: 5px cp(10px, $context-medium);
			padding: cr(5px) cp(10px, $context-medium);
			
			@include font-size(14px);
			@include rem(height, 67px);
		}

		/** Second Breakpoint */
		@include bp(wide) {
			padding: 14px cp(10px, $context-wide) 0;
			padding: cr(14px) cp(10px, $context-narrow) 0;

			@include font-size(18px);
			@include rem(height, 91px);
		}
	}

	.site-title {
		font-size: ce(20px, 12px);
		font-weight: $font-bold;
		line-height: (24px / 20px);
		text-transform: lowercase;

		/** Second Breakpoint */
		@include bp(wide) {
			clear: none;
			float: left;
		}
	}

	.site-description {
		font-family: $font-serif;
		font-style: italic;
		line-height: (24px / 12px);

		/** Second Breakpoint */
		@include bp(wide) {
			clear: none;
			float: left;
			line-height: 1;
			margin: ce(13px, 18px) 0 0 cp(98px, $context-wide);
		}
	}
}
